package layouts

templ BaseLayout() {
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/alpine.min.js"></script>
</head>
<body>
    <h1>base layout</h1>
    { children... }
</body>
</html>
}